In [93]:
import requests
from urllib.parse import urlencode
import glob
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd, pandas as pd
import json

In [92]:
api_key =''

In [72]:
# data_type = 'json'
# endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
# params = {"address": "1600 Amphitheatre Parkway, Mountain View, CA", "key": api_key}
# url_params = urlencode(params)

# url = f"{endpoint}?{url_params}"
# print(url)

In [63]:
def extract_lat_lng(address_or_postalcode, data_type = 'json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)
    if r.status_code not in range(200, 299): 
        return {}
    latlng = {}
    try:
        latlng = r.json()['results'][0]['geometry']['location']
    except:
        pass
    return latlng.get("lat"), latlng.get("lng")

In [69]:
y,x=extract_lat_lng("jl Damai griya kencana asri 2 blok f3 no 9 16167")

In [76]:
glob.glob('*.geojson')[0]

'Mandiri Category Sample.geojson'

In [77]:
gdf=gpd.read_file('Mandiri Category Sample.geojson')

In [91]:
set(gdf['mandiri_subcategory'])

{'ALAT MUSIK & SEMACAMNYA',
 'ALAT TEKNIK & SEMACAMNYA',
 'ALAT TULIS KANTOR & SEMACAMNYA',
 'APOTIK, TOKO FARMASI & SEMACAMNYA',
 'ASURANSI',
 'BAHAN BANGUNAN, SEMEN & SEMACAMNYA',
 'BAJU, CELANA & SEMACAMNYA',
 'BANK',
 'BIOSKOP, THEATRE & SEMACAMNYA',
 'BUKU,ALAT TULIS KANTOR & SEMACAMNYA',
 'BUTIK',
 'CAFE, BAR, LOUNGE & SEMACAMNYA',
 'DEPARTMENT STORES',
 'EMAS, BERLIAN, PERMATA, PERHIASAN, LM & SEMACAMNYA',
 'FACTORY OUTLET',
 'FITNESS CENTER, PUSAT KEBUGARAN & SEMACAMNYA',
 'GADGET, HP, TABLET, SMARTPHONE, ACCESSORIES & SEMACAMNYA',
 'HOTEL BINTANG 1',
 'HOTEL BINTANG 2',
 'HOTEL BINTANG 3',
 'HOTEL BINTANG 4',
 'HOTEL BINTANG 5',
 'KAMERA, ACCESSORIES & SEMACAMNYA',
 'KLINIK',
 'KOLEKSI, HOBBY, MAINAN, OLAHRAGA, HEWAN PELIHARAAN',
 'KOMPUTER, SERVICES, ACCESSORIES & SEMACAMNYA',
 'KOPERASI & SEMACAMNYA',
 'LAINNYA',
 'MAKANAN CEPAT SAJI',
 'MINIMARKET, CONVENIENCE STORE & SEMACAMNYA',
 'OPTIK, LENSA & SEMACAMNYA',
 'PARFUM, AROMA THERAPY & SEMACAMNYA',
 'PEMBAYARAN LISTRIK, AIR, TELEPON DLL',
 'PERALATAN LISTRIK & SEMACAMNYA',
 'PERALATAN RUMAH TANGGA & SEMACAMNYA',
 'PERLENGKAPAN BAYI, ANAK & SEMACAMNYA',
 'PERLENGKAPAN KOSMETIK',
 'PERUSAHAAN',
 'POLI KLINIK',
 'RESTAURANT',
 'RUMAH SAKIT',
 'SEMBAKO, KELONTONG & SEMACAMNYA',
 'SEPATU, SENDAL & SEMACAMNYA',
 'SERAGAM, SPREI & SEMACAMNYA',
 'SPAREPART & SERVICE MOBIL',
 'SPAREPART & SERVICE MOTOR',
 'SPBU',
 'SUPERMARKET',
 'SWALAYAN',
 'TAS, KOPER & SEMACAMNYA',
 'TEXTILE, KAIN & SEMACAMNYA',
 'TV, RADIO, BARANG ELEKTRONIK & SEMACAMNYA',
 nan}

In [96]:
gdf

,Unnamed: 0,address,brand_id,brand_name,business_size,category_id,category_name,criteria_att,detail_att,group_id,...,longitude,phone,poi_id,poi_name,rating,reviewers,subkategori_v2,mandiri_category,mandiri_subcategory,geometry
0,0,Kamal Muara,461.0,Unspecified,Business Banking,103.0,Medium and Large Enterprise,{'Industry': 'Retail Staples'},{'employee_size': '200-500'},28.0,...,106.742040,NaN,2170523.0,PT. Lim Siang Huat,4.3,28.0,Company,PERUSAHAAN,PERUSAHAAN,POINT (106.74204 -6.12493)
1,1,Kamal Muara,461.0,Unspecified,Business Banking,103.0,Medium and Large Enterprise,NaN,NaN,28.0,...,106.726727,NaN,2170813.0,PT. Cipta Prima Utama,4.7,3.0,Company,PERUSAHAAN,PERUSAHAAN,POINT (106.72673 -6.11452)
2,2,Kamal Muara,461.0,Unspecified,Business Banking,103.0,Medium and Large Enterprise,NaN,NaN,28.0,...,106.748732,NaN,2164599.0,PT. Christy Sejahtera,4.5,12.0,Company,PERUSAHAAN,PERUSAHAAN,POINT (106.74873 -6.11253)
3,3,Jl. Raya Kapuk,461.0,Unspecified,Business Banking,103.0,Medium and Large Enterprise,NaN,NaN,28.0,...,106.734186,NaN,2099276.0,PT. Dastraco Selaras,4.5,11.0,Company,PERUSAHAAN,PERUSAHAAN,POINT (106.73419 -6.12365)
4,4,Jl. Lingkar Luar Damar,461.0,Unspecified,Business Banking,103.0,Medium and Large Enterprise,NaN,NaN,28.0,...,106.746781,02155966145,2165054.0,PT. Drive Automation Center,4.7,3.0,Company,PERUSAHAAN,PERUSAHAAN,POINT (106.74678 -6.11136)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2325,2326,"Ruko Crown Golf Blok B No. 1011, Bukit Golf Me...",410.0,Unspecified,Micro,72.0,Restaurant,"{'Cuisine': 'Western', 'Business Segment': 'Un...","{'price_list': [500500, 101200, 171600, 266200...",18.0,...,106.741423,NaN,NaN,Smokey Ribs,4.4,291.0,Restaurant,F&B,RESTAURANT,POINT (106.74142 -6.11139)
2326,2327,"Rukan Beach View Golf Island Pik, Blok A Kelur...",410.0,Unspecified,Micro,72.0,Restaurant,"{'Cuisine': 'Western', 'Business Segment': 'Un...","{'price_list': [37500, 37500, 75000, 65000, 11...",18.0,...,106.740062,NaN,NaN,Luberger,4.7,421.0,Restaurant,F&B,RESTAURANT,POINT (106.74006 -6.09280)
2327,2328,"Ruko Gold Coast Blok B No. 16, Jl. Pantai Inda...",410.0,Unspecified,Micro,72.0,Restaurant,"{'Cuisine': 'Western', 'Business Segment': 'Un...","{'price_list': [384175, 259578, 362111, 449070...",18.0,...,106.740179,NaN,NaN,Holycow by Chef Afit,4.7,535.0,Restaurant,F&B,RESTAURANT,POINT (106.74018 -6.10400)
2328,2329,"Rukan Garden House Pik No. 18, Pantai Indah Ka...",410.0,Unspecified,Micro,72.0,Restaurant,"{'Cuisine': 'Western', 'Business Segment': 'Ca...","{'price_list': [114000, 162000, 138000, 144000...",18.0,...,106.737523,NaN,NaN,Bellas,4.1,0.0,Restaurant,F&B,RESTAURANT,POINT (106.73752 -6.11040)
2329,2330,"Ruko Elang Laut B158, Jl. Pantai Indah Selatan",410.0,Unspecified,Micro,72.0,Restaurant,"{'Cuisine': 'Western', 'Business Segment': 'Ca...","{'price_list': [60000, 73000, 106000, 66000, 8...",18.0,...,106.744815,NaN,NaN,Minus Two Restaurant dan Bar,0.0,0.0,Restaurant,F&B,RESTAURANT,POINT (106.74482 -6.12436)